@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

body {
  margin: 0;
  text-align: center;
  background-color: #011f3f;
}

img {
  width: 100%;
  height: auto;
}

.btn-menu {
  background-color: red;
  color: white;
  border: solid 4px black;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  display: block;
  font-family: 'Press Start 2P', cursive;
  width: 70%;
  margin: 25px auto;
}

.btn-close {
  background-color: red;
  color: white;
  border: solid 4px black;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(12, 14, 14, 0.425);
  font-family: 'Press Start 2P', cursive;
}

.intro-container {
  margin: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #011f3f;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;
}

.modal-overlay {
  background-color: rgba(12, 14, 14, 0.425);
}

.modal-container {
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: greenyellow;
  box-sizing: border-box;
}

.modal-rounded {
  border-radius: 32px;
}

.modal-border {
  border: solid 10px #000;
}

#name {
  border: solid 6px black;
  border-radius: 6px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  width: 50%;
  text-align: center;
}

.high-score {
  z-index: 2;
}

.high-score-div {
  overflow: auto;
  display: block;
}

.high-score-table {
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.high-score-table td.score {
  text-align: right;
}

.high-score-entry-container {
  height: auto;
}

.game-over-modal {
  font-family: 'Press Start 2P', cursive;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-top: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

/* carousel */

/* game */

.container {
  display: grid;
  width: fit-content;
  margin: auto;

  grid-template-rows: 125px 125px;
  grid-template-columns: 125px 125px;
  column-gap: 15px;
  row-gap: 15px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  height: 125px;
  width: 125px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.hide-modal {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  .container {
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    column-gap: 25px;
    row-gap: 25px;
  }

  .btn {
    height: 200px;
    width: 200px;
  }
}

/* carousel */
.main-container {
  width: 100%;
  height: 100%;
  /* margin: auto; */
  position: relative;
  background-color: rgb(182, 225, 65);
  display: grid;
  grid-template-rows: 100px auto 100px;
  padding: 0 15px;
}

.carousel {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.carousel__slides {
  height: 90%;
  position: relative;
  transition: transform ease-in 250ms;
}

.carousel__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline;
}

.carousel__image-container {
  position: relative;
  height: 80%;
  width: 100%;
}

.carousel__slide-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.carousel__button--left {
  left: 0;
  /* padding-left: 30px; */
}

.carousel__button--right {
  right: 0;
  /* padding-right: 30px; */
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 10%;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  /* cursor: pointer; */
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
