@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #011f3f;
}

img {
  width: 100%;
  height: auto;
}

body,
button,
input {
  font-family: 'Press Start 2P', cursive;
}

.hidden {
  display: none;
}

.btn-menu {
  background-color: #ff0000;
  color: #ffffff;
  border: solid 4px #000000;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  display: block;
  width: 70%;
  max-width: 250px;
  margin: 25px auto;
}

.btn-close {
  background-color: #ff0000;
  color: #ffffff;
  padding: 2px 12px 5px 12px;
  border: 5px solid #000000;
  border-radius: 6px;
  font-size: 24px;
  align-self: end;
}

.logo {
  width: 175px;
  height: auto;
}

.title {
  margin-top: 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.modal-overlay {
  background-color: rgba(12, 14, 14, 0.425);
}

.modal-opaque-overlay {
  background-color: #011f3f;
}

.modal-container {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background-color: #adff2f;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  overflow-y: auto;
}

.modal-fullscreen {
  width: 100%;
  height: 100%;
}

.modal-rounded {
  border-radius: 32px;
}

.modal-border {
  border: solid 10px #000000;
}

.hide-modal {
  display: none;
}

#name {
  border: solid 6px #000000;
  border-radius: 6px;
  font-size: 20px;
  width: 50%;
  text-align: center;
}

/* Intro Screen */

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(12, 14, 14, 0.425);
}

.intro-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #011f3f;
  box-sizing: border-box;
}

.intro-title {
  color: #fef2bf;
}

/* High Score Screen */

.high-score {
  z-index: 2;
}

.high-score-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 300px;
  max-height: 475px;
  max-width: 300px;
}

.high-score-div {
  overflow: auto;
  display: block;
}

.high-score-table {
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.high-score-table td.score {
  text-align: right;
}

/* High Score Entry */

.high-score-entry-container {
  height: auto;
  max-width: 600px;
}

/* Game Over Screen*/

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  max-height: 600px;
}

.game-over-title,
.game-over-score {
  font-size: 3rem;
}

.game-over-score-label {
  font-size: 1.5rem;
}

/* Game Area */

#level-title {
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.game-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: grid;
  width: fit-content;
  margin: auto;

  grid-template-rows: 125px 125px;
  grid-template-columns: 125px 125px;
  column-gap: 15px;
  row-gap: 15px;
}

.game-btn {
  display: inline-block;
  box-sizing: border-box;
  height: 125px;
  width: 125px;
  border: 10px solid #000000;
  border-radius: 20%;
}

.game-over {
  background-color: #ff0000;
  opacity: 0.8;
}

.red {
  background-color: #c51e1e;
}

.green {
  background-color: #359235;
}

.blue {
  background-color: #2e62d1;
}

.yellow {
  background-color: #f8d612;
}

.pressed {
  box-shadow: 0 0 20px #ffffff;
  background-color: #808080;
}

/* Instructions Carousel */

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #b6e141;
  display: grid;
  grid-template-rows: 100px auto 100px;
  padding: 0 15px;
}

.container-grid {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 15px;
  gap: 20px;

  box-sizing: border-box;
  padding: 15px 0;
}

.carousel {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  flex: 1;
}

.carousel__slides {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
}

.carousel__slide {
  width: 100%;
  position: relative;
  flex: 1 0 auto;
  transition: margin-left ease-in 250ms;
}

.carousel__image-container {
  position: relative;
  width: 100%;
}

.carousel__slide-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  position: relative;
  border: solid 10px #000000;
  border-radius: 16px;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.carousel__button--left {
  top: 100px;
  left: 0;
}

.carousel__button--right {
  top: 100px;
  right: 0;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 10%;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

/* Media Queries */

@media screen and (min-width: 500px) and (min-height: 360px) {
  .logo {
    width: 225px;
    height: auto;
  }
}

@media screen and (max-width: 700px) and (max-height: 380px) {
  #level-title {
    font-size: 2rem;
    flex: 0 1 min-content;
  }

  .intro-title-section {
    flex: 0 1 min-content;
  }
}

@media screen and (max-height: 449.9px) {
  .game-area {
    flex-direction: row;
    margin: auto;
  }
}

@media screen and (max-height: 549.9px) {
  .intro-container {
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-evenly;
  }
}

@media screen and (max-height: 599.9px) {
  .carousel__slide-image {
    height: 126px;
    width: 126px;
  }
}

@media screen and (min-width: 500px) and (min-height: 650px) {
  .container {
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    column-gap: 25px;
    row-gap: 25px;
  }

  .game-btn {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 728px) and (min-height: 500px) {
  .modal-fullscreen {
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 800px;
  }

  .instructions-container {
    border: solid 10px #000000;
    border-radius: 32px;
  }
}
